<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <section id="contenedor-productos">
        <!-- Vamos a iterar los productos que nos envía el controller -->
        <% products.forEach(prod => { %>
            <div class="card-producto">
                <img class="card-producto-img" src="<%= prod.imagen %>" alt="<%= prod.nombre %>">
                <h3><%= prod.nombre %></h3>
                <p><%= prod.tipo %></p>
                <p><%= prod.precio %></p>
            </div>
        <% }) %>
    </section>
</main>

<%- include("partials/footer.ejs") %>
